.nav {
  border-bottom: solid 2px var(--line-color);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  input{
    border-radius: 5px;
    border: solid 2px var(--line-color);
    padding: .2em;
    outline: none;
  }
  ul {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    li  {
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
    }
   
  }
  svg {
    height: 20px;
    width: 20px;
  }
  div {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 10px;
  }
}
 .active{
  border-bottom: solid 8px var(--primary-color);
  color: var(--primary-color);
  padding: 2.2em;
  font-weight: bold;
}