.credentials{
    display: flex;
    flex-direction: column;
    gap: 40px;
    &_main{
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
        padding: .5em;
    }

    &_header{
        display: flex;
        padding: 1em;
        justify-content: space-between;
        width: 65%;
        margin-left: 80px;
        span{
            display: flex;
            flex-direction: column;
            text-align: start;
        }
        h1{
            color: var(--primary-color);
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }

        button{
            background-color: var(--primary-color);
            color: var(--bg-color);
            width: 20%;
            border: none;
            border-radius: 10px;
            font-size: 20px ;
            cursor: pointer;
        }
    }
}
