.documents_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
  width: 80%;
}

.document {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  div {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    gap: 30px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      padding: 0.3em;
      border: solid 1px var(--line-color);
      fill: var(--theme-red);
    }
  }
  &_status {
    background-color: var(--primary-color);
    color: var(--theme-blue);
    text-align: center;
    margin-bottom: 20px;
    padding: 0.6em;
    border-radius: 5px;
    width: 100px;
    opacity: 0.7;
    font-weight: bold;
  }
  button {
    border: solid 2px var(--theme-red);
    color: var(--theme-red);
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.active_projects {
  height: 100vh;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &_header {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      color: var(--bg-color);
      background-color: var(--line-color);
      border-radius: 100%;
      height: 50px;
      padding: .5em;
      width: 50px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_container {
    display: flex;
    gap: 20px;
  }
}

.project {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://fastly.picsum.photos/id/826/1200/600.jpg?hmac=KcjuChAVhPvJHJegdQpOFjNSqPj6SIdXzFh6h0p7gmc");
  height: 100%;
  width: 100%;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: var(--bg-color);
  gap: 50px;

  h2 {
    font-size: 2.5em;
    font-weight: bold;
  }
  div {
    display: flex;
    height: 20%;
    img,
    span {
      border-radius: 50%;
      margin: -20px;
      border: solid 6px var(--bg-color);
      height: 80px;
      width: 80px;
    }
    span {
      background-color: var(--bg-color);
      font-size: 50px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      font-weight: bold;
    }
  }

  svg {
    width: 50px;
    height: 50px;
    margin-left: 80%;
  }
}
