.hero_section {
  width: 100%;
  height: 100%;

  // min-width: -webkit-fill-available;
  // min-width: -moz-fit-content;
  // min-width: fit-content;
  background: var(--hero-section-image);
  background-color: #dcdcdc;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  // .bg_image {
  //   position: relative;
  //   object-position: center;
  //   object-fit: cover;
  //   width: 100%;
  //   z-index: -1;
  // }
  &_container {
    top: 0;
    z-index: 2;
    // position: absolute;
    padding: var(--home-page-padding);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    // position: relative;
    .btn_1 {
      position: absolute;
      bottom: -4%;
    }

    section {
      margin: 8% 0 15% 0;
      h2 {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2%;
      }
      p {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 2%;
      }
    }
  }
}
.btn_1 {
  padding: 1.3% 3%;
  background: var(--primary-color);
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 26px;
  margin-top: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn_1:hover {
  background: #1f1f1f;
  color: #fff;
}
.btn_2 {
  padding: 3% 5%;
  background: var(--primary-color);
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn_2:hover {
  background: #1f1f1f;
  color: #fff;
}
%navbar_container {
  .navbar_container {
    width: 100%;
    ul {
      transition: all 0.3s;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      li {
        transition: all 0.3s;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        img {
          width: 150px;

          object-fit: cover;
        }
        a {
          color: white;
        }
        a:hover {
          color: var(--primary-color);
        }
      }

      .support_btn {
        margin-left: auto;
        border: solid 1px white;
        padding: 0.8% 1.6%;
        border-radius: 50px;
        transition: all 0.3s ease;
      }
      .support_btn:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        a {
          color: var(--primary-color);
        }
      }
      .signin_btn {
        transition: all 0.3s;
        white-space: nowrap;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
    }
  }
}
.home_page_navbar {
  transition: ease 0.3s;
  width: 100%;
  @extend %navbar_container;
}
.home_page_sticky_navbar {
  padding: var(--home-page-padding);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(17, 19, 18, 0.342);
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  @extend %navbar_container;
  .navbar_container {
    transition: ease-in-out 0.3s;
    ul {
      transition: ease-in-out 0.3s;
      gap: 20px;
      li {
        transition: ease-in-out 0.3s;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        img {
          width: 150px;

          object-fit: cover;
        }
        a {
        }
        a:hover {
          color: var(--primary-color);
        }
      }

      .support_btn {
        margin-left: auto;
        border: solid 1px white;
        padding: 0.8% 1.6%;
        border-radius: 50px;
        transition: all 0.3s ease;
      }
      .support_btn:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        a {
          color: var(--primary-color);
        }
      }
      .signin_btn {
        transition: ease-in-out 0.3s;
        white-space: nowrap;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
    }
  }
}
.info_section {
  // position: relative;
  // background-color: rgb(255, 255, 255);
  background-color: #dcdcdc;
  z-index: 1;

  &_container {
    height: 100%;
    width: 100%;
    padding: var(--home-page-padding);
    // padding-top: 0;
    // display: flex;
    align-items: center;
    // justify-content: right;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: 1fr 2fr;

    //if we later get a problem with these position absolute
    //elements chnaging position on diffrent resolutiions
    //then we can use a scss mixin to define thier position
    //based on various variables like image size and screen size etc
    .right {
      padding: 5% 5%;
      // border: 1px green solid;
      min-width: -webkit-fill-available;
      min-width: -moz-fit-content;
      min-width: fit-content;
      z-index: 1;
      margin-top: 0;
      position: relative;

      // .right > * :not(.right_bg){
      //   position: absolute;
      // }
      // aside {
      //   width: auto;
      //   top: 20%;
      //   left: 60%;
      //   position: absolute;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: space-between;
      .right_bg {
        display: block;
        object-fit: cover;
        max-width: 80%;
      }
      .social_pill {
        position: absolute;
        padding: 2% 3%;
        gap: 0%;
        display: grid;
        align-items: center;
        grid-template-columns: 0.8fr 1fr;
        border: solid 1px var(--theme-gray);
        border-radius: 25px;
        background-color: #ffffff;
        color: black;
        font-weight: 300;
        P {
          position: relative;
        }
        img {
          max-width: 50%;
          position: relative;
          object-fit: cover;
        }
      }

      .social_pill:nth-child(2) {
        // top: -3%;
        // right: -2%;
        bottom: 68%;
        left: 49%;
      }
      .social_pill:nth-child(3) {
        top: 55%;
        left: 0;
      }
      .social_pill:nth-child(4) {
        padding: 1% 1.5%;
        bottom: 10%;
        right: 30%;
      }
      // }

      img {
        display: block;
        object-fit: cover;
        max-width: 80%;
      }
    }
    .left {
      margin-right: 70px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-top: 15px;
        margin-bottom: 30px;
      }
      gap: 20%;
      h2 {
        text-transform: capitalize;
        font-size: 3rem;

        span {
          color: var(--primary-color);
        }
      }
      p {
        font-weight: 200;
        font-size: 1.4rem;
      }
    }
  }
}
.connect {
  width: 100%;
  height: 100%;
  &__header {
    text-align: center;
    padding-bottom: 70px;
    h1 {
      font-size: 50px;
      margin-top: 150px;
      margin-bottom: 20px;
    }
    p {
      margin: auto;
      margin-bottom: 10px;
      font-size: 20px;

      font-weight: 300;
      position: relative;

      display: inline-block;
    }
  }
}
.section {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  &__img {
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    img {
      width: 100%;
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    opacity: 0.5;
  }
  &__text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    font-size: larger;
  }
}

// conlsection
.feature {
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 200px;

  &__text {
    text-align: center;
    h1 {
      font-size: 50px;
    }
    img {
      background: linear-gradient(
        to right,
        rgb(0, 255, 255),
        rgba(0, 0, 255, 1)
      );
      border-radius: 2px;
    }
  }

  &__box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  &__img {
    flex-basis: 50%;
    max-resolution: auto;
    position: relative;
    z-index: 10;

    img {
      width: 90%;
      height: 90%;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; // Set the width and height to create a circular shape
    height: 30px;
    background-color: transparent; // Set background color to transparent
    border: 1px solid #b2b2b2; // Black border with 2px width
    border-radius: 50%; // Make it circular
    margin: 10px;
    svg {
      width: 15px;

      color: #7f7f7f;
    }
  }
  &__text {
    p {
      padding: 0 0px;
      text-align: initial;
    }
  }
}
.features {
  flex-basis: 50%;
}
.img__text {
  position: absolute;
  color: #fff;
  font-size: 10px;
  bottom: 25px;
  left: 50px;
  font-size: 35px;
}
.osa {
  color: red;
  background-color: #dcdcdc;
  position: absolute;

  left: 70px;
  bottom: -30px;
  width: 90%;
  z-index: -2;
  height: 85vh;
}
.contributor {
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: #4c4c4c;

  color: #fff;
  align-items: center;
  justify-content: space-around;

  &__part1 {
    display: block;
    align-items: center;
    justify-content: center;
    span {
      color: var(--primary-color);
    }
    p {
      color: #cccccc;
    }
  }
}
.btn_3 {
  padding: 1% 5%;

  background: var(--primary-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;

  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

// commentSection
.testimonial {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  &__row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__col {
    flex-basis: 28%;
    padding: 0px 10px;
    margin-bottom: 3px;
    width: 100%;
    height: 100%;

    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 3px #d0e0df14;
    transition: transform 0.5s;
    p {
      font-size: 13px;
      color: blue;
      line-height: 15px;
      margin-left: 15px;
    }
    h3 {
      font-weight: 350;
      font-size: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &__user {
    align-items: center;
    margin: 20px 0;
    img {
      width: 350px;

      align-items: center;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    margin: 15px;
  }
  &__icon {
    margin-right: 5px;
  }
  &__text {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 50px;

    h1 {
      font-size: 40px;
      font-weight: 400;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.btn-4 {
  padding: 1.3% 3%;
  background: var(--primary-color);
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 9px;
  margin: 2% 0 5% 0;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.btn-5 {
  font-size: 20px;
  margin-left: 15px;
}
