.popup_modal {

  .container {
    padding: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    background-color: white;
    border-radius: 26px;
    svg {
      margin-right: 0;
      padding-right: 0;
      width: 100%;
    }
    section {
      text-align: center;
    }
  }
}
.dashboard_container.openSideNav {
  margin-left: 17%;
  margin-bottom: 13%;

}
.dashboard_container {
  margin-left: 8%;
  margin-bottom: 13%;
}
.project_container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  gap: 10px;
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 1.5rem;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.068), 0 6px 20px 0 rgba(124, 124, 124, 0.096);
    section {
      display: flex;
      margin-bottom: 5%;
      width: 100%;
      padding: 0.4rem;
      align-items: flex-start;

      justify-content: space-between;
      span {
        color: var(--primary-color);
        font-size: 32px;
      }
      .create_new {
        background-color: var(--primary-color);
        color: white;
        width: auto;
        padding: 10px 20px;
        border-radius: 10px;
      }
    }

    h2 {
      font-size: 25px;
    }

    &_project_body {
      width: 100%;
      height: 840px;

      div {
        padding-right: 4%;
        height: 100%;

        span {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5%;
        }
        article {
          text-align: start;
        }
        img {
          width: 100%;
          height: 30%;
          object-fit: cover;
          border-radius: 5px;
          margin-bottom: 2%;
        }
      }
    }
    .edit_icons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        margin-left: 10px;
        background-color: var(--theme-blue);
        border-radius: 50%;
        padding: 10px;
        width: 42px;
        height: 42px;
        color: #fff;
        border: none;
        cursor: pointer;
        &:hover {
          color: #a2adfc;
        }
      }
    }
  }
}

.news_for_you {
  height: 50%;
  width: 320px;
  padding: 1.5em;
  // background-color: whitesmoke;
  svg {
    height: 30px;
    width: 30px;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1em 0;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 20px;
    }
    svg {
      font-weight: 300;
    }
  }

  &_articles {
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    .news_link {
      text-align: start;
      background-color: white;
      cursor: pointer;
      width: 268px;
      height: 272px;

      img {
        width: 100%;
        object-fit: cover;
        margin: 0;
      }
      section {
        padding: 1rem;
        padding-top: 0;
        h3 {
          font-weight: 500;
        }
        p {
          height: 65px;
          overflow: hidden;
          margin-top: 1rem;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
  }
}
.team_container {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
  height: auto;
  gap: 10px;
  .team {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.068), 0 6px 20px 0 rgba(124, 124, 124, 0.096);
    width: 100%;
    height: 100%;
    // margin: 5% 20% 5% 6%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem 2rem;
    flex-direction: column;
    text-align: start;

    h2 {
      font-weight: 500;
      font-size: 1.7rem;
      margin-bottom: 4rem;
    }
    section {
      margin-bottom: 10%;
      height: auto;
      .member {
        display: flex;
        justify-content: space-between;
        width: 85%;
        height: 40%;
        margin-bottom: 2rem;
        padding-left: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 20px;
          img {
            border-radius: 50%;
            width: 65px;
            height: 65px;
            object-fit: cover;
          }

          span {
            padding: 0.7rem 0;
            width: auto;
            h3 {
              font-weight: 400;
            }
            p {
              // color: grey;
              font-weight: 200;
            }
          }
          .member_message {
            text-align: center;
            border-radius: 30px;
            padding: 0.5rem;
            width: 110px;
            border: solid 0.5px rgb(139, 139, 139);
            background-color: transparent;
          }
        }
      }
    }
    .icon {
      display: flex;
      justify-content: flex-end;
      color: #fff;

      svg {
        margin-left: 10px;
        background-color: var(--theme-blue);
        border-radius: 50%;
        padding: 10px;
        width: 42px;
        height: 42px;

        cursor: pointer;
        &:hover {
          color: #a2adfc;
        }
      }
    }
  }
  .recommended {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    &_heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8%;
      h3 {
        text-transform: uppercase;
        font-weight: 300;
      }
      p {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 268px;
      overflow: hidden;
      margin-bottom: 10%;

      section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
        span {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-bottom: 0%;
          h3 {
            text-transform: capitalize;
            font-weight: 500;
          }
          p {
            text-decoration: none;
            color: grey;
            font-weight: 200;
          }
        }
      }
      svg {
        font-size: 25px;
      }
    }
  }
}

.project_history {

  .project_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6% 0 15% ;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    h2 {
      margin-left: 2%;
      margin-bottom: 5%;
      font-weight: 500;
      font-size: 1.7rem;
    }
    .project_history_projects {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .previous_project {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        width: auto;
        span:first-child {
          font-size: 30px;
          font-weight: bold;
        }
        span {
          font-size: 20px;
        }
        &_details {
          display: flex;
          padding: 1em;
          justify-content: start;
          gap: 15px;
          align-items: center;
          width: 540px;

          img {
            height: 50px;
            width: 50px;
            margin: -8px;
            border-radius: 50%;
            border: 3px solid white;
          }
          div {
            text-align: left;
          }
        }
      }
    }
  }
}
