.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #F3F2F2;
  overflow: hidden;
  // h1 {
  //   font-weight: 500;
  //   background-color: var(--secondary-color);
  //   color: white;
  //   margin: 20px;
  //   padding: 3px 0;
  //   margin-top: 0;
  //   span {
  //     background-color: var(--theme-blue);
  //     padding: 0 3px;
  //   }
  // }
  // p {
  //   font-weight: 400;
 // }
}
