:root {
  --font-family: "Albert Sans", Inter, sans-serif;
  --bg-color: #ffffff;
  --secondary-color: #11202e;
  --primary-color: #76dcc3;
  --theme-blue: #2335aa;
  --theme-green: #289938;
  --theme-gray: #e4e4e4;
  --theme-red: #a40101;
  --line-color: #c1c9cd;
  --theme-orange: #eb6600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Albert Sans", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

hr {
  color: var(--line-color);
}
.modal {
  position: fixed;
  z-index: 6;
}
