.container {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 40;

  div {
    hr {
      margin: 0 5%;
      //     c
      //  border: solid 0.1rem;
    }
    .breadcrumbs {
      color: white;
      text-transform: capitalize;
    }
    svg {
      width: 23px;
      height: 45px;
      color: #959595;
    }
    .active {
      border: none;

      padding: 0;
      svg {
        color: var(--primary-color);
        border-left: solid 2.5px var(--primary-color);
        width: 100%;
        padding: 10px;
      }
    }
    ul {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      li {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
          object-fit: cover;
          padding: 0 4% 0 0%;
          margin: 25px 0;
        }
      }
    }
    div {
      padding: 0 5%;
      img {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;

        border: solid 2px #2fb43d;
        padding: 5%;
      }
    }
  }
}
.minimized_container {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 40;

  div {
    width: 100%;
    overflow: hidden;
    a {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    hr {
      margin: 0 5%;
      display: none;
    }
    .breadcrumbs {
      display: none;
    }
    svg {
      width: 23px;
      height: 45px;
      color: #959595;
    }
    .active {
      border: none;
      padding: 0;
      svg {
        color: var(--primary-color);
        border-left: solid 2.5px var(--primary-color);
        width: 100%;
        padding: 10px;
      }
    }
    ul {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      li {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
          object-fit: cover;
          padding: 0 4% 0 0%;
          margin: 25px 0;
        }
      }
    }
    div {
      padding: 0 5%;
      img {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
        border: solid 2px #2fb43d;
        padding: 5%;
      }
    }
  }
}
